openapi: 3.1.0

info:
  title: Archivio GitHub D&D Realistic Master
  version: 1.0.0
  description: Legge e aggiorna i file Markdown persistenti della campagna in un repository GitHub privato.

servers:
  - url: https://api.github.com

paths:
  /repos/TUO_USERNAME_GITHUB/TUO_REPOSITORY_CAMPAGNA/contents/{path}:
    get:
      operationId: readCampaignFile
      summary: Legge un file della campagna
      description: Recupera contenuto e metadati correnti di un file dal repository.
      parameters:
        - name: path
          in: path
          required: true
          description: Percorso relativo del file nel repository.
          schema:
            type: string
        - name: ref
          in: query
          required: false
          description: Branch o riferimento Git da leggere.
          schema:
            type: string
            default: main
      responses:
        "200":
          description: File recuperato correttamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                  encoding:
                    type: string
                  size:
                    type: integer
                  name:
                    type: string
                  path:
                    type: string
                  content:
                    type: string
                  sha:
                    type: string
                  url:
                    type: string
                  html_url:
                    type: string
                  download_url:
                    type:
                      - string
                      - "null"
                required:
                  - type
                  - name
                  - path
                  - sha
        "404":
          description: File non trovato

    put:
      operationId: writeCampaignFile
      summary: Crea o aggiorna un file persistente della campagna
      description: >
        Crea un nuovo file o sostituisce un file esistente.
        Prima di aggiornare un file esistente, usa readCampaignFile per ottenere lo SHA corrente.
        Il contenuto Markdown UTF-8 deve essere codificato in Base64.
      parameters:
        - name: path
          in: path
          required: true
          description: Percorso relativo del file nel repository.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                  description: Messaggio descrittivo del commit Git.
                content:
                  type: string
                  description: Contenuto completo UTF-8 del file codificato in Base64.
                sha:
                  type: string
                  description: SHA corrente del file; obbligatorio quando si aggiorna un file esistente.
                branch:
                  type: string
                  default: main
              required:
                - message
                - content
      responses:
        "200":
          description: File aggiornato
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    properties:
                      name:
                        type: string
                      path:
                        type: string
                      sha:
                        type: string
                    required:
                      - name
                      - path
                      - sha
                  commit:
                    type: object
                    properties:
                      sha:
                        type: string
                      message:
                        type: string
                    required:
                      - sha
        "201":
          description: File creato
          content:
            application/json:
              schema:
                type: object
                properties:
                  content:
                    type: object
                    properties:
                      name:
                        type: string
                      path:
                        type: string
                      sha:
                        type: string
                    required:
                      - name
                      - path
                      - sha
                  commit:
                    type: object
                    properties:
                      sha:
                        type: string
                      message:
                        type: string
                    required:
                      - sha
        "404":
          description: Repository o percorso non trovato
        "409":
          description: Conflitto, normalmente causato da uno SHA non aggiornato
        "422":
          description: Richiesta non valida
